* {
    padding: 0;
    margin: 0;
    
    
}
div{
   overflow: hidden;
}


header h1{
    background-color: yellowgreen;
    text-align: center;
}
footer {
    background-color: tomato;
    position:relative;
    bottom: 0;
    padding: 10px 30px;
    width: 100%;
    text-align: center;
}
ul{
    width: 100%;
    list-style: none;
    padding: 0 0.25rem 0.25rem;
    
}
ul li::before{
    content: "\200B";
}
.item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5rem 0 0.5rem 0.5rem;
    margin: 0.25rem 0;
    background-color: #eee;
}
.item :first-child{
    margin: 0;

}
.item input[type="checkbox"]{
    text-align: center;
    width: 2.5rem;
    width: 48px;
    min-width: 48px;
    height: 2.5rem;
    height: 48px;
    min-height: 48px;
    cursor: pointer;
    margin-right: 0.5rem;
}
.item input[type="checkbox"]:focus + label{
    text-decoration: underline;
}
.item > label{
    font-size: 0.75rem;
    flex-grow: 1;

}
.item svg{
    width: 48px;
    min-width: 48px;
    height: 36px;
    font-size: 1rem;
    color: steelblue;
    cursor: pointer;
}
.item svg:focus,.item svg:hover{
    color: red;
    outline: none;
}
p{
    text-align: center;
    justify-content: center;
    padding: 10px 20px;
    font-size: 30px;
    background-color: #eee;


}
.addForm{
    padding: 20px 10px ;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 20px;
    font-weight: bolder;
}
.addForm input[type="text"]{
    padding: 5px 10px;
    border: 2px solid grey;
    border-radius: 10px;
    margin: 5px;

}
.addForm button{
    background-color: rgb(255, 4, 4);
    padding: 5px 10px;
    margin: 5px;
    color: white;
    border: none;
    border-radius: 3px;
}
.addForm button:hover{
background-color: green;
border: none;
}
.addForm input[type="text"]:hover{
    border: 2px solid navy;

}
.searchForm{
    padding: 0px 10px ;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 20px;
    font-weight: bolder;

}

.searchForm input[type="text"]{
    padding: 5px 10px;
    border: 2px solid grey;
    border-radius: 10px;
    margin: 5px;

}
.searchForm input[type="text"]:hover{
    border: 2px solid navy;

}

